*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
#containerpage{
    position: relative;
} */

.my-wrapper{
    width: 50%;
    margin: 0 auto;    
    padding: 2rem;
    border-radius: 20px;
}

#bghead{
    height: 20vh;
    background-color: #009688;
}

#bgfooter{
    height: 80vh;
    background-color: #dbdbd3;
}

#windowuser{
    height: 90%;
    width: 90%;
    background-color: #ecec02;
}
.centered-axis {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
}